body {
  background-color: #003C4E;
  color: #9DD4CA;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.highlight {
  color: #F3E6AD;
  white-space: nowrap;
}

p {
  font-size: 1.5em;
}

button {
  font-size: 1.2em;
  background-color: #003C4E;
  border: none;
  border-bottom-color: #D44627;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  color: #F3E6AD;
  display: block;
  margin-top: 0.8em;
  white-space: nowrap;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

button:focus {
  outline: none;
  box-shadow: none;
}

button:active {
  border-bottom-color: #DB5639;
  color: #EFDF9A;
  padding-left:3px;
  padding-right:3px;
  margin-left: -3px;
  background-color: #02495F;
}

input[type=number] {
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  background-color: #003C4E;
  color: #F3E6AD;
  width: 1em;
  border: none;
  border-radius: 0px;
  border: 1px solid #003C4E;
  border-bottom: 1px solid #F3E6AD;
}

input[type=number]:focus {
  outline: none;
  border: 1px solid #F3E6AD;
}

/* hides the number spinner */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#mins-exist, #hrs-exist, #cost, #reset, #end, #no-more, #why-no-more {
  display: none;
  animation: fadeIn 1s;
}

#container {
  margin: 0 auto;
}

@media (max-width: 680px) {
  #container {
    max-width: 80%;
  }
}

@media (min-width: 680px) and (max-width: 800px) {
  #container {
    max-width: 60%;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  #container {
    max-width: 50%;
  }
}

@media (min-width: 1000px) {
  #container {
    max-width: 40%;
  }
}
